@import "styles/mixins";
@import "styles/fluid";

.wrapper {
  @include row-grid;
  row-gap: 12px;
  padding-inline: 48px;
  padding-block: 48px 24px;
  justify-content: center;
  inline-size: 100%;
}

.errorMessage {
  @include poppinsDefault;
  font-size: var(--text-sm-size);
  color: var(--color-error);
}

.googleButtonWrapper {
  margin-inline: auto;
}