@import "styles/mixins";

.wrapper {
  @include row-grid;
  row-gap: 24px;
  grid-template-rows: auto auto auto;
  block-size: min-content;
  margin-block: auto;
  max-inline-size: 500px;

}

.headingWrapper {
  @include column-grid-vert-centered;
  column-gap: 4px;
}

.heading {
  @include abrilFarfaceDefault;
  font-size: var(--text-xxxlg-size);

  span.primary {
    color: var(--color-primary);
  }
}

.description {
  @include poppinsDefault;
  font-weight: 300;
  font-size: var(--text-sm-size);
}

