@import 'styles/mixins';

.content {
  block-size: 450px;
  max-block-size: 80vw;

  border-radius: 70px;
  inline-size: 100%;

  @include row-grid;
  grid-template-rows: auto;
  overflow: hidden;
}

.slideWrapper {
  position: relative;
  display: flex;
  inline-size: 100%;

  transition: transform 300ms ease-in-out;
}

.item {
  position: absolute;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: 100%;
}

.itemLabel {
  position: absolute;
  @include poppinsDefault;
  font-weight: 600;
  inset-block-end: 16px;
  text-align: center;
  inset-inline: 0;
  color: var(--color-white);
}
