@import 'styles/mixins';

.wrapper {
  @include column-grid;
  column-gap: 24px;
  align-items: center;
  max-inline-size: 800px;

}

.imageWrapper {
  position: relative;
  block-size: 120px;
  inline-size: 120px;
}

.imageWrapper {
  position: relative;
}

.description {
  @include poppinsDefault;
  font-size: var(--text-sm-size);
  color: var(--color-white);
}

