@import '../../styles/mixins';
@import '../../styles/fluid';

.layout {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  inline-size: 100vw;
  max-inline-size: 100vw;
  background-image: linear-gradient(90deg, #0C111F 1.85%, #0C111F 43.26%, rgba(12, 17, 31, 0.58) 62.17%, rgba(12, 17, 31, 0) 100%);
  position: relative;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    inline-size: 60%;
    inset-block: 0;
    inset-inline-end: 0;
    background-image: url("/assets/nu-bg.jpg");
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
  }

}

.content {
  display: grid;
  grid-template-columns: 500px auto;
  padding-block: 140px;
  flex: 1;
  max-inline-size: 100%;
  inline-size: 100%;
  box-sizing: border-box;

  @include mobile-styles() {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }

  row-gap: 96px;
}


.carouselWrapper {
  inline-size: 100%;
  display: flex;
  justify-content: flex-end;
  @include mobile-styles() {
    justify-content: center;
  }
}

.iframeWrapper {
  max-inline-size: 90vw;
  inline-size: fluid(400px, 600px);

  div {
    position: relative;
    padding-block-end: 56.25%;
    block-size: 0px;
  }
  iframe {
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    inline-size: 100%;
    block-size: 100%;
  }
}

.clubInfoWrapper {
  @include mobile-styles() {
    margin-inline: auto;
  }
}