@import "styles/mixins";
@import "styles/fluid";

.wrapper {
  background: url("/assets/gallery-bg.png") no-repeat;
  background-position-y: 200px;
  background-position-x: 100px;
  @include mobile-styles() {
    background: none;
  }
}

.content {
  @include row-grid;
  row-gap: fluid(30px, 70px);
  box-sizing: border-box;
}

.heading {
  @include abrilFarfaceDefault;
  font-size: var(--text-xxlg-size);
  color: var(--color-dark);

  @include mobile-styles() {
    margin-block-start: 120px;
  }
}

.galleryPhotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-block-end: 140px;

  @include mobile-styles() {
    justify-content: stretch;
    flex-wrap: nowrap;
    overflow-x: auto;
    mask-image: linear-gradient(to right, transparent, white 10px, white 90%, transparent);;

  }
}

.galleryPhoto {
  position: relative;
  block-size: 340px;
  inline-size: 340px;
  border-radius: 40px;
  background-size: cover;
  margin: 20px;
  z-index: 1;

  @media (max-width: 420px) {
    inline-size: 90vw;
    block-size: 90vw;
  }

  @include mobile-styles() {
    flex-shrink: 0;
  }
}
