@import "styles/mixins";
@import "styles/fluid";

.wrapper {
  background: url("/assets/gallery-bg.png") no-repeat;
  background-position-y: 200px;
  background-position-x: 100px;
}

.content {
  @include row-grid;
  row-gap: 70px;
  box-sizing: border-box;
}

.heading {
  @include abrilFarfaceDefault;
  font-size: var(--text-xxlg-size);
  color: var(--color-dark);
}

.galleryPhotos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-block-end: 140px
}

.galleryPhoto {
  position: relative;
  block-size: 340px;
  inline-size: 340px;
  border-radius: 40px;
  background-size: cover;
  margin: 20px;

  @media (max-width: 420px) {
    inline-size: 90vw;
    block-size: 90vw;
    margin-inline: 0;
  }
}
