@import "styles/mixins";
@import "styles/fluid";

.footer {
  background: var(--color-dark);
  position: relative;
  inline-size: 100vw;
  border-radius: 60px 60px 0 0;
  overflow-x: hidden;
}

.footer::before {
  z-index: 0;
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  background: url("/assets/footer-bg.png") no-repeat left bottom;
  @include mobile-styles() {
    display: none;
  }
}

.content {
  position: relative;
}

.content::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 647px;
  height: 639px;
  background: #A4A4A4;
  opacity: 0.4;
  filter: blur(385.244px);
  transform: translateX(-50%) translateY(-50%);
}

.headingsWrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  @include abrilFarfaceDefault;
  font-size: var(--text-xxxlg-size);
  background: linear-gradient(90deg, #F6D365 0%, #BE9951 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheading {
  @include poppinsDefault;
  font-size: var(--text-lg-size);
  color: var(--color-white);
  text-transform: uppercase;
}

.sponsorsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  inline-size: 100%;
}

.sponsorWrapper {
  z-index: 1;
  display: flex;
  align-items: center;
  width: fluid(300px, 600px);
  margin: 24px;
}