@import '../../styles/mixins';

.wrapper {
  @include column-grid-vert-centered;
  column-gap: 40px;
  background: rgba(246, 211, 101, 0.25);
  border: 0.719491px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(21.5847px);
  border-radius: 20px;

  padding-inline: 16px;
  padding-block: 12px;

}

.item {
  position: relative;
  inline-size: 205px;
  block-size: 145px;
  cursor: pointer;

  @include row-grid;
  justify-content: center;
  align-items: center;
  row-gap: 8px;

  @include poppinsDefault;
  font-size: var(--text-sm-size);
  font-weight: 700;
  text-align: center;
  padding: 8px;

  .name {
    position: relative;
    color: var(--color-primary);
  }
  .date {
    position: relative;
    color: var(--color-white);
  }


  .itemImage {
    position: absolute;

    inline-size: 100%;
    block-size: 100%;
    inset: 0;
    transition: filter 300ms ease-out;
    filter: grayscale(100%);

    img {
      border-radius: 20px;
    }
  }

  transition: transform 200ms ease-out;

  &[aria-selected=true] {
    transform: scale(1.15);
    .itemImage {
      filter: grayscale(0);
    }
  }

  &:hover {
    .itemImage {
      filter: grayscale(0);
    }
  }
}