@import "styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.eventSection {
  flex: 1;
  position: relative;
  max-inline-size: 100%;
  inline-size: 100%;
  .eventInfoWrapper {
    position: absolute;
  }
  overflow-y: auto;
  margin-block-end: 40px;
  mask-image: linear-gradient(to bottom, transparent, white 10px, white 90%, transparent);;
}

.navSection {
  margin-top: auto;
  display: flex;
  overflow-x: auto;
  position: relative;
  @include mobile-styles() {
    margin-block-start: 48px;
  }
  box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
}

//.navSection::after {
//  content: "";
//  position: absolute;
//  z-index: 1;
//  inset-block-end: 0;
//  inset-inline-start: 0;
//  pointer-events: none;
//  background-image: linear-gradient(to right,
//          rgba(255, 255, 255, 0),
//          rgba(255, 255, 255, 1) 90%);
//  inline-size: 100%;
//  block-size: 100%;
//}