@import "styles/mixins";


.eventSection {
  position: relative;
  max-inline-size: 100%;
  inline-size: 100%;
  block-size: 250px;
  .eventInfoWrapper {
    position: absolute;
  }
}

.navSection {
  max-inline-size: 100vw;
  margin-top: auto;
  display: flex;
  justify-content: center;
  @include mobile-styles() {
    margin-block-start: 48px;
  }
}