@import "styles/fluid";
@import "styles/mixins";

.wrapper {
  background: linear-gradient(111.03deg, rgba(246, 211, 101, 0.5) 2.82%, rgba(239, 238, 238, 0.06) 90.94%);
  border-radius: 40px;
  padding-inline: fluid(16px, 48px);
  padding-block: 20px;
  max-inline-size: 90vw;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  margin-inline: auto;
  inline-size: fluid(350px, 450px);
  block-size: min-content;
}

.actionWrapper {
  @include row-grid;
  row-gap: 14px;
}

.heading {
  @include poppinsDefault;
  font-size: var(--text-lg-size);
  margin-block-end: 14px;
}


.message {
  @include poppinsDefault;
  font-size: var(--text-sm-size);
}

.success {
  color: var(--color-success);
  font-weight: 700;
}

.error {
  color: var(--color-error);
}