/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/poppins-v20-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/poppins-v20-latin-500.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/poppins-v20-latin-600.ttf') format('truetype'); /* Safari, Android, iOS */
}


/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/poppins-v20-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}


/* abril-fatface-400 - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/abril-fatface-regular.ttf') format('truetype');
}
