@import 'fluid';

:root {
  --text-md-size: #{fluid(18px, 24px)};
  --text-sm-size: #{fluid(14px, 18px)};
  --text-lg-size: #{fluid(18px, 24px)};
  --text-xxlg-size: #{fluid(32px, 64px)};
  --text-xxxlg-size: #{fluid(40px, 84px)};
  --text-xlg-size: #{fluid(24px, 40px)};

  --color-primary: #F6D365;
  --color-white: #FFFFFF;
  --color-dark: #0C111F;;
  --color-gray: #2d2d2d;

  --menu-drawer-background: rgba(20, 20, 20, 0.95);
}